{% extends "ontology/header.html" %}

{% block title %} Login {% endblock %}

{% block content %}

<div class="topnav">
    <a href="/iquee/index">Home</a>
    <a href="/iquee/documentation">Documentation</a>
    <a href="/iquee/contact">Contact Us</a>

    {% if user.is_authenticated %}
        <a class="eval" href="/iquee/home">Evaluate</a>
        <div class="topnav-right">
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    {% else %}
        <a class="eval" href="">Evaluate</a>
        <div class="topnav-right">
            <a  class="active" href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
            <script>
            $(document).ready(function() {
                $(".eval").click(function() {
                    alert("Please Login or Register!");
                    window.location.href="";
                });
            });
            </script>
        </div>
    {% endif %}
</div>


<h2>Welcome Back!</h2>

<div class="page-content">
    <form method="POST" enctype="multipart/form-data" action = "">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>

{% endblock %}