{% extends "ontology/header.html" %}

{% block content %}

<div class="display"></div>
<p id="test"></p>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>

<script>
    var data1 = { getOntoFromSession: function() {
                    var userData = window.sessionStorage.getItem('userOnto');
                    return JSON.parse(userData);
                }
            }

    var dataset=data1.getOntoFromSession();
    //document.getElementById("test").innerHTML = JSON.stringify(dataset);

    var w = 1500;
    var h = 1000;
    var linkDistance=150;

    var colors = d3.scale.category10();

    var svg = d3.select(".display").append("svg").attr({"width":w,"height":h});

    var tip = d3.tip()
    .attr("class", "d3-tip")
    .offset([-10, 0])
    .html(function (d) {
        var det = "LOs: <br>";
        if(d.lo_cognitives.length > 0) {
            for(var i=0 ; i<d.lo_cognitives.length ; i++) {
                 det += d.lo_cognitives[i].id+"-"+d.lo_cognitives[i].level+"<br>";
            }
        }
        det += "<br> Questions: <br>";
        if(d.que_cognitives.length > 0) {
            for(var i=0 ; i<d.que_cognitives.length ; i++) {
                 det += d.que_cognitives[i].id+"-"+d.que_cognitives[i].level+"<br>";
            }
        }
        return det;
    })
    svg.call(tip);

    var force = d3.layout.force()
        .nodes(dataset.nodes)
        .links(dataset.edges)
        .size([w,h])
        .linkDistance([linkDistance])
        .charge([-500])
        .theta(0.1)
        .gravity(0.05)
        .start();


    var edges = svg.selectAll("line")
      .data(dataset.edges)
      .enter()
      .append("line")
      .attr("id",function(d,i) {return 'edge'+i})
      .attr('marker-end','url(#arrowhead)')
      .style("stroke","#ccc")
      .style("pointer-events", "none");

    var nodes = svg.selectAll(".nodes")
      .data(dataset.nodes)
      .enter()
      .append("circle")
      .attr("class", "nodes")
      .attr({"r":15})
      .attr({"stroke":function(d) { if(d.que_cognitives.length > 0) { return '#1f77b4'; }
                                    else { return ""; }},
             "stroke-width":5})
      .style("fill",function(d){
                    if(d.lo_cognitives.length > 0) { return "red"; }
                    else { return '#f4c2c2'; }
                })
      .call(force.drag)
      .on("mouseover", tip.show)
      .on("mouseout", tip.hide);


    var nodelabels = svg.selectAll(".nodelabel")
       .data(dataset.nodes)
       .enter()
       .append("text")
       .attr({"x":function(d){return d.name.x;},
              "y":function(d){return d.name.y;},
              "class":"nodelabel",
              "font-size":17
              })
       .text(function(d){return d.name;});

    var edgepaths = svg.selectAll(".edgepath")
        .data(dataset.edges)
        .enter()
        .append('path')
        .attr({'d': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
               'class':'edgepath',
               'fill-opacity':0,
               'stroke-opacity':0,
               'fill':'blue',
               'stroke':'red',
               'id':function(d,i) {return 'edgepath'+i}})
        .style("pointer-events", "none");

    var edgelabels = svg.selectAll(".edgelabel")
        .data(dataset.edges)
        .enter()
        .append('text')
        .style("pointer-events", "none")
        .attr({'class':'edgelabel',
               'id':function(d,i){return 'edgelabel'+i},
               'dx':20,
               'dy':0,
               'font-size':14,
               'fill':'#aaa'});

    edgelabels.append('textPath')
        .attr('xlink:href',function(d,i) {return '#edgepath'+i})
        .style("pointer-events", "none")
        .text(function(d){return d.relation});


    svg.append('defs').append('marker')
        .attr({'id':'arrowhead',
               'viewBox':'-0 -5 10 10',
               'refX':25,
               'refY':0,
               //'markerUnits':'strokeWidth',
               'orient':'auto',
               'markerWidth':10,
               'markerHeight':10,
               'xoverflow':'visible'})
        .append('svg:path')
            .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
            .attr('fill', '#ccc')
            .attr('stroke','#ccc');


    force.on("tick", function(){

        edges.attr({"x1": function(d){return d.source.x;},
                    "y1": function(d){return d.source.y;},
                    "x2": function(d){return d.target.x;},
                    "y2": function(d){return d.target.y;}
        });

        nodes.attr({"cx":function(d){return d.x;},
                    "cy":function(d){return d.y;}   });

        nodelabels.attr("x", function(d) { return d.x-15; })
                  .attr("y", function(d) { return d.y-16; });

        edgepaths.attr('d', function(d) { var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
                                           //console.log(d)
                                           return path});

        edgelabels.attr('transform',function(d,i){
            if (d.target.x<d.source.x){
                bbox = this.getBBox();
                rx = bbox.x+bbox.width/2;
                ry = bbox.y+bbox.height/2;
                return 'rotate(180 '+rx+' '+ry+')';
                }
            else {
                return 'rotate(0)';
                }
        });
    });

</script>


{% endblock %}