{% extends "ontology/header.html" %}

{% block title %} Graphical Representation {% endblock %}

{% block content %}

<div class="topnav">
    <a  href="/iquee/index">Home</a>
    <a href="/iquee/documentation">Documentation</a>
    <a href="/iquee/contact">Contact Us</a>
    <a class="active" href="">Evaluation</a>

    <div class="topnav-right">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <script>
                alert("Please Login or Register!");
                window.location.href="/iquee/index/";
            </script>
        {% endif %}
    </div>
</div>

<h3>Verify the Ontology</h3>

<div class="page-content">
    <p>Drag a node to pin it down. Doubleclick to release it</p>
    {% csrf_token %}
    <p id="json"></p>
    <div class="graph"></div>
    <a class="next" href="{% url 'files' %}" >Proceed</a><br>
</div>

<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

<script>
    var data = { getUserData1FromSession: function() {
                    var userData = window.sessionStorage.getItem('userObject');
                    return JSON.parse(userData);
                }
            }
    var dataset=data.getUserData1FromSession();
    //document.getElementById("json").innerHTML = JSON.stringify(dataset);

    //Creating graph using d3 force layout
    var w = 1700;
    var h = 1800;
    var linkDistance=150;
    var colors = d3.scale.category10();
    var svg = d3.select(".graph").append("svg").attr({"width":w,"height":h});

    var force = d3.layout.force()
                .nodes(dataset.nodes)
                .links(dataset.edges)
                .size([w,h])
                .linkDistance([linkDistance])
                .charge([-500])
                .theta(0.1)
                .gravity(0.05)
                .start();


    var node_drag = d3.behavior.drag()
                .on("dragstart", dragstart)
                .on("drag", dragmove)
                .on("dragend", dragend);

    function dragstart(d, i) {
        force.stop() // stops the force auto positioning before you start dragging
    }
    function dragmove(d, i) {
        d.px += d3.event.dx;
        d.py += d3.event.dy;
        d.x += d3.event.dx;
        d.y += d3.event.dy;
    }
    function dragend(d, i) {
        d.fixed = true; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
        force.resume();
    }
    function releasenode(d) {
        d.fixed = false; // of course set the node to fixed so the force doesn't include the node in its auto positioning stuff
        //force.resume();
    }

    var edges = svg.selectAll("line")
              .data(dataset.edges)
              .enter()
              .append("line")
              .attr("id",function(d,i) {return 'edge'+i})
              .attr('marker-end','url(#arrowhead)')
              .style("stroke","#ccc")
              .style("pointer-events", "none");

    var nodes = svg.selectAll(".nodes")
              .data(dataset.nodes)
              .enter()
              .append("circle")
              .attr({"class":"nodes"})
              .attr({"r":15})
              .style("fill",function(d,i){return '#f4c2c2';})
              .call(force.drag)
              .on('dblclick', releasenode)
              .call(node_drag);

    var nodelabels = svg.selectAll(".nodelabel")
               .data(dataset.nodes)
               .enter()
               .append("text")
               .attr({"x":function(d){return d.name.x;},
                      "y":function(d){return d.name.y;},
                      "class":"nodelabel"})
               .text(function(d){return d.name;});

    var edgepaths = svg.selectAll(".edgepath")
                .data(dataset.edges)
                .enter()
                .append('path')
                .attr({'d': function(d) {return 'M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y},
                       'class':'edgepath',
                       'fill-opacity':0,
                       'stroke-opacity':0,
                       'fill':'blue',
                       'stroke':'red',
                       'id':function(d,i) {return 'edgepath'+i}})
                .style("pointer-events", "none");

    var edgelabels = svg.selectAll(".edgelabel")
                .data(dataset.edges)
                .enter()
                .append('text')
                .style("pointer-events", "none")
                .attr({'class':'edgelabel',
                       'id':function(d,i){return 'edgelabel'+i},
                       'dx':20,
                       'dy':0,
                       'font-size':15,
                       'fill':'#aaa'});

    edgelabels.append('textPath')
                .attr('xlink:href',function(d,i) {return '#edgepath'+i})
                .style("pointer-events", "none")
                .text(function(d){return d.relation});


    svg.append('defs').append('marker')
                .attr({'id':'arrowhead',
                       'viewBox':'-0 -5 10 10',
                       'refX':25,
                       'refY':0,
                       //'markerUnits':'strokeWidth',
                       'orient':'auto',
                       'markerWidth':10,
                       'markerHeight':10,
                       'xoverflow':'visible'})
                .append('svg:path')
                    .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
                    .attr('fill', '#ccc')
                    .attr('stroke','#ccc');

    force.on("tick", function(){
        edges.attr({"x1": function(d){return d.source.x;},
                            "y1": function(d){return d.source.y;},
                            "x2": function(d){return d.target.x;},
                            "y2": function(d){return d.target.y;}
        });
        nodes.attr({"cx":function(d){return d.x;},
                            "cy":function(d){return d.y;}
        });
        nodelabels.attr("x", function(d) { return d.x; })
                          .attr("y", function(d) { return d.y; });

        edgepaths.attr('d', function(d) { var path='M '+d.source.x+' '+d.source.y+' L '+ d.target.x +' '+d.target.y;
                                                   //console.log(d)
                                                   return path});

        edgelabels.attr('transform',function(d,i){
                    if (d.target.x<d.source.x){
                        bbox = this.getBBox();
                        rx = bbox.x+bbox.width/2;
                        ry = bbox.y+bbox.height/2;
                        return 'rotate(180 '+rx+' '+ry+')';
                    }
                    else {
                        return 'rotate(0)';
                    }
        });
    });
</script>

{% endblock %}